form {
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  text-align: center;
  background-color: azure;
  margin-top: 0;
  border-radius: 10px;
  min-height: 100vh;
}

body {
  background-color: blue;
}

.container {
  margin: 10px 0;
}

.container label {
  font-size: 20px;
  font-style: italic;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0 2px;
}

.buttons{
    border-radius:10%;
    width:10vw;
    height:auto;
    background-color: burlywood;
}