h1 h2 p{
    font-style:inherit;
    text-align: center;
    
}

* {
font-family:cursive;
margin-left: 5%;
margin-right: 5%;
}

p{
    color: green;
}

.col{

    color: red;

}

#para{
    text-align: center;
}