
#page{
    /* z-index: -1; */
    padding: 10px 10px;
    position:relative;
    top:10px;
    left:520px;
    height:700px;
    width:500px;
    background-color: rgb(47, 69, 194);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}
header{
    width:500px;
    height:100px;
    background-color: rgb(19, 16, 202);
    border-radius: 20px 20px 0px 0px;
    
}
#container img{
    position: relative;
    height: 35px;
    left: 155px;
    top: 32px;
}
/* rgb(15, 14, 94) */
.nav{
    display: flex;
    list-style: none;
    height: 36px;
    width: 500px;
    background-color: rgb(15, 14, 94);
    box-shadow: 0px 6px 9px 2px rgb(53, 52, 52),0px -2px 3px  black;
    z-index:1;
}

.nav a{
    padding: 7px 17px;
    color:rgb(253, 251, 251);
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    /* z-index:-1; */
    text-decoration: none;
}
.nav a img{
    height:2px;
    z-index:3;
}
.nav a:hover{
    background-color: rgb(204, 159, 101);
    cursor: pointer;
}


#main{
    padding:10px;
    background-color: rgb(255, 255, 255);
    height:500px;
}
.topic{
    color:rgb(15, 14, 94);
}
footer{
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 20px 20px;
    width:500px;
}
footer p{
    text-align: center;
    color:rgb(186, 202, 250);
}